
    <div class="container">
        <form  method="post" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-sm-3"></div>
            <div class="form-group col-sm-3">
              <label>Type </label>
      			   <input type="text" required placeholder="type" class="form-control" name="type" [(ngModel)]="type"/>
            </div>

            <div class="form-group col-sm-3">
              <label>Nom </label>
      			   <input type="text" required placeholder="nom" class="form-control" name="nom" [(ngModel)]="nom"/>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-2"></div>
            <div class="form-group col-sm-2">
             	<label>Min </label>
      				<input type="number" required placeholder="min" class="form-control" name="min" [(ngModel)]="min" min="1" max="1000000" value="1"/>
            </div>

            <div class="form-group col-sm-2">
              <label>Max</label>
      			   <input type="number" required placeholder="max" class="form-control" name="max" [(ngModel)]="max" min="1" max="1000000" value="1000000"/>
            </div>

            <div class="form-group col-sm-2">
              <label>SemD</label>
      			   <input type="number" required placeholder="SemD" class="form-control col-xs-3" name="SemD" [(ngModel)]="semD" min="1" max="52" value="1"/>
            </div>

            <div class="form-group col-sm-2">
              <label>SemF</label>
      			   <input type="number" required placeholder="SemF" class="form-control" name="SemF" [(ngModel)]="semF" min="1" max="52" value="52"/>
            </div>
          </div>
          <div class="form-group col-5">
            <label>Tags</label>
    			   <textarea required class="form-control" name="tags" [(ngModel)]="tags"></textarea>
          </div>
          <br>
          <div class="form-group col-5">
            <button *ngIf="!submitted" type="submit" class="btn btn-success">Envoyer</button>
          </div>
        </form>
        <br>
        <br>
        <div *ngIf="submitted">
        	<table class="table table-striped">
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Descriptif</th>
              <th scope="col">Prix</th>
              <th scope="col">Photo</th>
            </tr>
            <tr *ngFor="let res of result">
              <td>{{res.nom}}</td>
              <td>{{res.descriptif}}</td>
              <td>{{res.prixNeuf}}</td>
              <td>{{res.lienPhoto}}</td>
            </tr>
          </table>
        </div>
    </div>