<div class="d-flex justify-content-center ">
<div class="d-flex justify-content-center col-8">
	<div class="card">
	  <div class="card-header">
	    <h3>{{serv.titre}}</h3>
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Descriptif</h5>
	    <p class="card-text">{{serv.descriptif}}</p>
	    <h5 class="card-title">Disponibilités</h5>
	    <p *ngIf="serv.disponibilites[0].AMPM=='am'" class="card-text">Disponible pour le {{serv.disponibilites[0].date}} dans la matinée.</p>
	    <p *ngIf="serv.disponibilites[0].AMPM=='pm'"class="card-text">Disponible pour le {{serv.disponibilites[0].date}} dans l'après-midi.</p>
	    <h5 class="card-title">Prix</h5>
	    <p class="card-text">Prix : {{serv.prixService}} €</p>
	    <h5 class="card-title">Concernant {{serv.idProprio}}</h5>
	    <p class="card-text">{{serv.experience}}</p>
	    <a *ngIf="dispo" class="btn btn-primary">Empruntez !</a>
	    <ngb-alert *ngIf="!dispo" [dismissible]="false" type="danger">
              <strong>Indisponible</strong>
        </ngb-alert>
	  </div>
	  <div class="card-footer">
	    	<small class="text-muted">Tags : {{tags}}</small>
	  </div>
	</div>
</div>
</div>