<br />
<h1>Profil de {{nom}}  {{prenom}}</h1>
<div class="row">
  <div class="col-md-6">
    <h5>Afficher le formulaire d'ajout d'un bien</h5>
    <button *ngIf="!afficherFormBien" type="button" (click)="formBien()" class="btn btn-primary btn-sm">Afficher</button>
    <div *ngIf="afficherFormBien">
     <button  type="button" (click)="formBien()" class="btn btn-primary btn-sm">Cacher</button>
     <br />

      <form method="post">
          <div class="form-row">
            <div class="form-group col-sm-2"></div>
            <div>
              <label>Nom du bien</label>
               <input type="text" required placeholder="nom" class="form-control" name="nom" [(ngModel)]="nomBien"/>
            </div>
            <div class="form-group col-sm-1"></div>
            <div class="form-group col-sm-3">
              <label>Prix</label>
               <input type="number" required placeholder="prix" class="form-control" name="prix" [(ngModel)]="prix"/>
            </div>

            <div class="form-group col-sm-4"></div>
            <div>
              <label>Descriptif </label>
              <textarea required class="form-control" name="descriptif" [(ngModel)]="descriptif" placeholder="Description"></textarea>
            </div>
            <br />
            <div class="form-group col-sm-1"></div>
            <div class="form-group col-sm-3"></div>
            <br /><br /><br /><br /><br />

            <div class="form-group col-sm-6">
              <br /> <br />
              <select class="selectpicker" style="width:80%;" multiple  [(ngModel)]="selected_tag" name="selected" >
                <option *ngFor="let tag of les_tags" [value]="tag">{{tag.nom}}</option>
              </select>
              <br />
              <button  (click)="ajoutTagBien()" class="btn btn-info btn-sm col-sm-4">Ajouter tags</button>
            </div> 
            <div class="form-group col-sm-3">
              <label>Tags sélectionnés</label>
              <textarea cols="25" rows="6" type="text" [value]="les_tags_biens_name" readonly="true"></textarea>
            </div>


            <div class="form-group col-sm-6">
               <br /><br />
               <input type="text" placeholder="dd/mm/aaaa" [(ngModel)]="la_date_choisi" name="dp" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"/>
               <br /><br />
              <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="amBien">
                <label ngbButtonLabel class="btn-primary" >
                  <input  ngbButton type="radio" [value]="true" > Matin
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input  ngbButton type="radio" [value]="false"> Après-midi
                </label>
              </div>
              <br /><br />
              <div *ngIf="amBien==true">
                <p>Vous avez choisi le matin<p>
              </div>
              <div *ngIf="amBien==false">
                <p>Vous avez choisi l'après-midi<p>
              </div>

              <br />
            </div>
             <div class="form-group col-sm-2">
               <label>Date choisie</label>
               <textarea cols="25" rows="3" type="text" name="ld" [value]="date_biens_string" readonly="true"></textarea>
               <button  (click)="ajoutDateBien()" class="btn btn-info btn-sm ">Ajouter Date</button>
            </div>
          </div>

          <button  (click)="addBien()" class="btn btn-primary btn-sm col-sm-4">Ajouter le bien !</button>
      </form>

    </div>
  </div>

  <div class="col-md-6">
    <h5>Afficher le formulaire d'ajout d'un service</h5>
    <button *ngIf="!afficherFormService" type="button" (click)="formService()" class="btn btn-primary btn-sm">Afficher</button>
    <div *ngIf="afficherFormService">
      <button type="button" (click)="formService()" class="btn btn-primary btn-sm">Cacher</button>

      <!--titre descriptif experience prixService -->
      <form method="post">
        <div class="form-row">

          <div class="form-group col-sm-1"></div>
          <div>
            <label>Nom du service</label>
            <input type="text" required placeholder="nom" class="form-control" name="nom" [(ngModel)]="titreService"/>
          </div>
          <div class="form-group col-sm-1"></div>
          <div class="form-group col-sm-3">
            <label>Prix</label>
            <input type="number" required placeholder="prix" class="form-control" name="prixService" [(ngModel)]="prixService"/>
          </div>

          <div style="margin-left: 5%">
            <label>Descriptif </label>
            <textarea required class="form-control" cols="25" name="descriptif" [(ngModel)]="descService" placeholder="Description"></textarea>
          </div>
          <div class="form-group col-sm-1"></div>
          <div>
            <label>Expérience </label>
            <textarea  required cols="25" class="form-control" name="experience" [(ngModel)]="experience" placeholder="Expérience"></textarea>
          </div> 
          <br /><br /><br /><br /><br />
            <div class="form-group col-sm-6">
              <br /> <br />
              <select class="selectpicker" style="width:80%;" multiple  [(ngModel)]="selected_tag_autre" name="selected" >
                <option *ngFor="let tagg of les_tags_autre" [value]="tagg">{{tagg.nom}}</option>
              </select>
              <br />
              <button  (click)="ajoutTagService()" class="btn btn-info btn-sm col-sm-4">Ajouter tags</button>
            </div> 

            <div class="form-group col-sm-3">
              <label>Tags sélectionnés</label>
              <textarea cols="25" rows="6" type="text" [value]="les_tags_services_name" readonly="true"></textarea>
            </div>

            <div class="form-group col-sm-6">
               <br /><br />
               <input type="text" placeholder="dd/mm/aaaa" [(ngModel)]="la_date_choisi_autre" name="dp" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"/>
               <br /><br />
              <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="amService">
                <label ngbButtonLabel class="btn-primary" >
                  <input  ngbButton type="radio" [value]="true" > Matin
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input  ngbButton type="radio" [value]="false"> Après-midi
                </label>
              </div>
              <br /><br />
              <div *ngIf="amBien==true">
                <p>Vous avez choisi le matin<p>
              </div>
              <div *ngIf="amBien==false">
                <p>Vous avez choisi l'après-midi<p>
              </div>

              <br />
            </div>

            <div class="form-group col-sm-2">
               <label>Date choisie</label>
               <textarea cols="25" rows="3" type="text" name="ld" [value]="date_services_string" readonly="true"></textarea>
               <button  (click)="ajoutDateService()" class="btn btn-info btn-sm ">Ajouter Date</button>
            </div>
        </div>
        <button  (click)="addService()" class="btn btn-primary btn-sm col-sm-4">Ajouter le service !</button>
      </form>

      <br />
     </div>
  </div>
</div>

<br />
<br />

<div class="row">
  <div class="table-responsive col-md-6">
    <h3>Vos biens</h3><br />
    <table class=" table table-hover table-sm table-bordered ">
    <thead class="thead-dark">
      <tr>
        <th>Nom</th>
        <th>Descriptif</th>
        <th>Prix neuf</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let bien of biens">
        <td>{{bien.nom}}</td>
        <td>{{bien.descriptif}}</td>
        <td>{{bien.prixNeuf}} €</td>
        <td><button  class="btn btn-danger btn-sm" (click)="supprimerBien(bien.idBien)">Supprimer</button></td>
      </tr>
    </tbody><br />
  </table>
  </div>
  <div class="table-responsive col-md-6">
    <h3>Vos services</h3><br />
    <table class=" table table-hover table-sm table-bordered ">
    <thead class="thead-dark">
      <tr>
        <th>Titre</th>
        <th>Descriptif</th>
        <th>Expérience</th>
        <th>Prix service</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let service of services">
        <td>{{service.titre}}</td>
        <td>{{service.descriptif}}</td>
        <td>{{service.experience}}</td>
        <td>{{service.prixService}} €</td>
        <td><button  class="btn btn-danger btn-sm" (click)="supprimerService(service.idService)">Supprimer</button></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
