<div class="d-flex justify-content-center ">
<div class="d-flex justify-content-center col-8">
	<div class="card">
	  <div class="card-header">
	    <h3>{{bien.nom}}</h3>
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Descriptif</h5>
	    <p class="card-text">{{bien.descriptif}} de type {{bien.type}}</p>
	    <div *ngIf="bien.disponibilites.length != 0">
	 		<h5 class="card-title">Disponibilités</h5>
	    	<div *ngFor="let dat of date; let i = index">
			    <p *ngIf="AMPM[i]=='am'" class="card-text">Disponible pour le {{date[i]}} dans la matinée.</p>
			    <p *ngIf="AMPM[i]=='pm'"class="card-text">Disponible pour le {{date[i]}} dans l'après-midi.</p>
			</div>
		</div>
		<br/>
	    <h5 class="card-title">Prix</h5>
	    <p class="card-text">Prix : {{bien.prixNeuf}} €</p>
	    <a *ngIf="dispo" class="btn btn-primary text-white mb-1" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="chooseDate">Empruntez !</a>
	    <br/>
	    <div *ngFor="let dat of date; let i = index" class="btn-group btn-group-toggle" id="chooseDate" [ngbCollapse]="!isCollapsed" ngbRadioGroup name="radioBasic">
		  <label *ngIf="AMPM[i]=='am'" ngbButtonLabel class="btn-secondary mr-1">
		    <input ngbButton type="radio" (click)="emprunt(date[i],AMPM[i])">{{date[i]}} matin
		  </label>
		  <label *ngIf="AMPM[i]=='pm'" ngbButtonLabel class="btn-secondary mr-1">
		    <input ngbButton type="radio" (click)="emprunt(date[i],AMPM[i])">{{date[i]}} après-midi
		  </label>
		</div>
	    <ngb-alert *ngIf="indispo" [dismissible]="false" type="danger">
              <strong>Indisponible</strong>
        </ngb-alert>
        <ngb-alert *ngIf="same" [dismissible]="false" type="warning">
              <strong>Vous ne pouvez pas vous empruntez vous-même</strong>
        </ngb-alert>
        <ngb-alert *ngIf="done" [dismissible]="false" type="success">
              <strong>Emprunt effectué !</strong>
        </ngb-alert>
	  </div>
	  <div class="card-footer">
	    	<small class="text-muted">Tags : {{tags}}</small>
	  </div>
	</div>
</div>
</div>