
    <div class="container">
        <form  method="post">
          <div class="form-row">
            <div class="form-group col-sm-4"></div>
            <div class="form-group col-sm-4">
              <label>Titre</label>
      			   <input type="text" required placeholder="titre" class="form-control" name="type" [(ngModel)]="titre"/>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-2"></div>
            <div class="form-group col-sm-2">
             	<label>Min </label>
      				<input type="number" required placeholder="min" class="form-control" name="min" [(ngModel)]="min" min="1" max="1000000"/>
            </div>

            <div class="form-group col-sm-2">
              <label>Max</label>
      			   <input type="number" required placeholder="max" class="form-control" name="max" [(ngModel)]="max" min="1" max="1000000"/>
            </div>

            <div class="form-group col-sm-2">
              <label>Date début</label>
      			   <input type="text" class="form-control required" placeholder="dd/mm/aaaa" [(ngModel)]="jourD" name="ddp" ngbDatepicker #dd="ngbDatepicker" (click)="dd.toggle()" placement="bottom" ngbTooltip="Date : {{jourD.day}}/{{jourD.month}}/{{jourD.year}}"/>
            </div>
            <div class="form-group col-sm-2">
              <label>Date fin</label>
      			   <input type="text" class="form-control required" placeholder="dd/mm/aaaa" [(ngModel)]="jourF" name="dfp" ngbDatepicker #df="ngbDatepicker" (click)="df.toggle()" placement="bottom" ngbTooltip="Date : {{jourF.day}}/{{jourF.month}}/{{jourF.year}}"/>
            </div>
          </div>
          <div>
            <label>Tags</label>
            <div>
            <select class="selectpicker" style="width:50%;" multiple  [(ngModel)]="selected_tag" name="selected" >
              <option *ngFor="let tag of les_tags" [value]="tag">{{tag.nom}}</option>
            </select>
          </div>
          <button  (click)="ajoutTag()" class="btn btn-info btn-sm mr-5">Ajouter tags</button>
          <button  (click)="removeTags()" class="btn btn-info btn-sm">Enlever tags</button>
          <br /><br />
    			  <textarea required readonly="true" rows="2" class="form-control" name="tags" [(ngModel)]="tags" placeholder="Tags pour la recherche"></textarea>
          </div>
          <br>
          <div *ngIf="!submitted" class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-success" (click)="onSearch()">Envoyer</button>
          </div>
          <div *ngIf="submitted" class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-success" (click)="onSearch()">Nouvelle recherche</button>
          </div>
        </form>
        <br>
        <br>
        <div *ngIf="submitted">
          <ngb-alert *ngIf="result.length==0" [dismissible]="false" type="warning">
              <strong>Aucun résultat !</strong>
          </ngb-alert>
        	<table *ngIf="!result.length==0" class="table table-striped">
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Descriptif</th>
              <th scope="col">Prix</th>
              <th scope="col">Page</th>
            </tr>
            <tr *ngFor="let res of result">
              <td>{{res.titre}}</td>
              <td>{{res.descriptif}}</td>
              <td>{{res.prixService}}</td>
              <td><button class="btn btn-secondary btn-sm col-sm-4" (click)="navigateTo(res)">Liens</button></td>
            </tr>
          </table>
        </div>
    </div>