<div>
	<p>Liste des membres pour le déséquilibre : </p>
  <table class="table table-striped">
  	<thead class="thead-dark">
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Email</th>
              <th scope="col">Rapport</th>
            </tr>
        </thead>
        <ng-container *ngFor="let res of listUsers">
            <tr *ngIf="res.aNotifier" class="table-danger">
              <td>{{res.nom}}</td>
              <td>{{res.email}}</td>
              <td>{{res.rapport}}</td>
            </tr>
            <tr *ngIf="!res.aNotifier" class="">
              <td>{{res.nom}}</td>
              <td>{{res.email}}</td>
              <td>{{res.rapport}}</td>
            </tr>
        </ng-container>
    </table>
</div>

