<br />
<h1>Formulaire d'inscription</h1>
<br />
    <div class="container">
        <form class="form" method="post" *ngIf="!submitted" (ngSubmit)="onSubmit()">
          <div class="form-group col-4" style="margin: 0 auto;">
            <label>Login (email) </label>
    			   <input type="text" required placeholder="votre email" class="form-control" name="login" [(ngModel)]="mail"/>
          </div><br />

          <div class="form-group col-4" style="margin: 0 auto;">
            <label>Mot de passe </label>
    			   <input type="password" required placeholder="votre mot de passe" class="form-control" name="mdp" [(ngModel)]="mdp"/>
          </div><br />

          <div class="form-group col-4" style="margin: 0 auto;">
           	<label>Nom </label>
    				<input type="text" required placeholder="votre nom" class="form-control" name="nom" [(ngModel)]="nom"/>
          </div><br />

          <div class="form-group col-4" style="margin: 0 auto;">
            <label>Prenom</label>
    			   <input type="text" required placeholder="votre prenom" class="form-control" name="prenom" [(ngModel)]="prenom"/>
          </div><br />

          <div class="form-group col-4" style="margin: 0 auto;">
            <label>Ville</label>
             <input type="text" required placeholder="votre ville" class="form-control" name="ville" [(ngModel)]="ville"/>
          </div><br />

          <div class="form-group col-4" style="margin: 0 auto;">
            <label>Adresse</label>
             <input type="text" required placeholder="votre adresse" class="form-control" name="adresse" [(ngModel)]="adresse"/>
          </div><br />

          <div class="form-group col-4" style="margin: 0 auto;">
            <label>Code postal</label>
             <input type="text" required placeholder="votre code postal" class="form-control" name="cp" [(ngModel)]="cp"/>
          </div><br />
         
          <button type="submit" class="btn btn-success">Submit</button>
     
        </form>
        <div *ngIf="!notAdded">
          <label>Cet email/login est déjà utilisé </label>
        </div>

        <div *ngIf="submitted">
          <br/>
          Inscription réussie !
          <br/>
          <br/>
        </div>
    </div>